body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.unitDetail {
    max-width: 65%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.trueThumb{
    display: block;
    margin-left: auto;
    margin-right: auto;
}